@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

*{
    margin: 0; 
    padding: 0;
    border: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: var(--color-white-root);
}

:root {
    --color-white-root: #fafafa;
    --color-black-root: #111;
    --color-black-1: #4c4c4c;
    --color-black-2: #3c3c3c;
    --color-black-3: #2c2c2c;
    --color-black-4: #1c1c1c;

    /* ------------------------------- */

    --color-test-1: red;
    --color-test-2: blue;
    --color-test-3: green;
    --color-test-4: aqua;
    --color-test-5: yellow;

    /* ------------------------------- */

    --color-purple-root: #aa00ff;
    --color-orange-root: #ff9500;

}

html, body {
    height: 100vh;
    width: 100vw;
}

/* -------------------------------------------- */

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--color-white-root);
    
    height: 100vh;
    width: 100%;
    margin: 0;
    transition: 0.5s linear;
}    

body.dark {
    background-color: var(--color-black-2);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: var(--color-black-root);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .ball {
    background-color: var(--color-white-root);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

/* --------------------------------- */

.container-header {
    height: 8rem;
    width: 100%;
    background-color: var(--color-black-3);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    box-shadow: 0px 13px 15px -3px rgba(123,123,123,0.3);
}

.container-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white-root);
    border-radius: 50px;
    padding: 0 2rem;
}

.text-header, .text-header h1 {
    background-color: transparent;
    color: var(--color-purple-root);
    letter-spacing: 2px;
}

.box-search {
    height: 2rem;
    width: 20rem;
    border: 2px solid var(--color-black-1);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.box-search input {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 90%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#box-search-i {
    margin-left: 10px;
    background-color: transparent;
}

.menu-itens {
    height: 4rem;
    width: 12rem;
    background-color: transparent;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-itens div {
    height: 2rem;
    width: 2rem;
    transform: scale(1.5);
    background-color: #111;
    border-radius: 50%;
    padding: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-itens i {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    transition: 0.3s linear;
    background-color: transparent;
    color: white;
}

.menu-itens i:hover {
    color: var(--color-purple-root);
}

/* --------------------------------- */

.container-footer {
    height: 20rem;
    width: 100%;
    background-color: #2b2b2b;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer-content {
    height: 100%;
    width: 100%;
    padding: 1rem 10rem;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------- Social Medias ---------------------------------- */

.container-footer-content-social-medias {
    height: 100%;
    width: 25%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-footer-content-social-medias, .container-footer-content-social-medias * {
    background-color: transparent;
}

.container-footer-content-social-medias-logo {
    height: 4rem;
    width: 50%;
    background-color: var(--color-black-1);
    border-radius: 15px;
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    transition: 0.3s ease-in-out;
}

.container-footer-content-social-medias-logo:hover {
    background-color: var(--color-black-2);
}

.container-footer-content-social-medias-logo img {
    height: 1rem;
    width: 1rem;
    transform: scale(3);
}

.container-footer-content-social-medias-logo span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-orange-root);
    margin-top: 5px;
}

.container-footer-content-social-medias p {
    color: var(--color-white-root);
    text-align: justify;
}

.container-footer-content-social-medias-icons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-footer-content-social-medias-icons i {
    height: 2rem;
    width: 2rem;
    transform: scale(1.2);
    color: var(--color-white-root);
    background-color: var(--color-black-root);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear;
}

.fa-facebook:hover {
    background-color: rgb(0, 140, 255);
}

.fa-instagram:hover {
    background-color: rgb(255, 98, 0);
}

.fa-twitch:hover {
    background-color: var(--color-orange-root);
}

/* ---------------------------- End Social Medias ---------------------------------- */

/* ---------------------------- Usefull Links ---------------------------------- */

.container-footer-content-usefull-links {
    height: 100%;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-footer-content-usefull-links, .container-footer-content-usefull-links * {
    background: transparent;
    color: var(--color-white-root);
    font-style: italic;
    
    transition: 0.2s linear;
}

.container-footer-content-usefull-links div {
    height: 70%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-footer-content-usefull-links a {
    cursor: pointer;
}

.container-footer-content-usefull-links a:hover {
    color: var(--color-orange-root);
}

/* ---------------------------- End Usefull Links ---------------------------------- */

/* ---------------------------- Address ---------------------------------- */

.container-footer-content-address {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-footer-content-address, .container-footer-content-address * {
    background: transparent;
    color: var(--color-white-root);
    font-style: italic;
}

/* ---------------------------- End Address ---------------------------------- */

/* ---------------------------- Navigation ---------------------------------- */

.container-footer-content-navigation {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-footer-content-navigation, .container-footer-content-navigation * {
    background: transparent;
    color: var(--color-white-root);
    font-style: italic;
    
    transition: 0.2s linear;
}

.container-footer-content-navigation div {
    height: 70%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-footer-content-navigation a {
    cursor: pointer;
}

.container-footer-content-navigation a:hover {
    color: var(--color-orange-root);
}

/* ---------------------------- End Navigation ---------------------------------- */

.container-footer-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: var(--color-black-1);
}

.container-footer-info > .container-footer-author + .container-footer-box-info {
    background-color: transparent;
}

.container-footer-author {
    height: 100%;
    width: 70%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-footer-author * {
    background-color: transparent;
    color: white;
    font-style: italic;
}

.container-footer-author a {
    color: var(--color-orange-root);
    text-decoration: none;
    transition: 0.3s linear;
}

.container-footer-box-info {
    width: 50%;
}

.container-footer-box-info ul {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.container-footer-box-info a {
    color: var(--color-white-root);
    background-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s linear;
}

.container-footer-box-info a:hover {
    color: var(--color-orange-root);
}